/sof203_k16302_jdbc/sof203_k16302_jdbc/build/
/sof203_k16302_jdbc/sof203_k16302_jdbc/nbproject/private/
/demo01/nbproject/private/
/demo02/nbproject/private/
/demo02/build/
/de-test2/nbproject/private/
/de-test2/build/
/Vudd-test/nbproject/private/
/Vudd-test/build/
/Vudd-ph14036/nbproject/private/
/Vudd-ph14036/build/
/LT2/nbproject/private/
/LT2/build/
/LT/nbproject/private/
/LT/build/
/demo-lt2/nbproject/private/
/demo-lt2/build/
/TEST2/nbproject/private/
/TEST2/build/
/TEST3/nbproject/private/
/TEST3/build/
/TEST4/nbproject/private/
/TEST4/build/
/TEST5/nbproject/private/
/TEST5/build/
