Create database 
go
use QLSach
go
create table THELOAI
(
	MaTheLoai nvarchar(15) not null,
	TenTheLoai nvarchar(50) not null,
	constraint PK_TheLoai primary key(MaTheLoai)
)
go
create table SACH
(
	Masach nvarchar(20)not null,
	TenSach nvarchar(50) not null,
	NXB nvarchar(50) not null,
	Sotrang int ,
	SoLuong int ,
	Giatien money ,
	NgayNhap datetime,
	vitridat nvarchar(30),
	MaTheLoai nvarchar(15) not null,
	constraint PK_Sach primary key(masach),
	constraint FK_Sach_TheLoai foreign key(MaTheLoai) references TheLoai(MaTheLoai),
	--constraint Check_Sach_Sotrang check(Sotrang>5),
	--constraint Check_Sach_SoLuong check(soluong>1),
	--constraint Check_Sach_Giatien check(giatien>0)
)
go
--Nhập liệu bảng Thể Loại
insert into TheLoai(MaTheLoai,TenTheLoai) values('IT',N'Tin học')
insert into TheLoai(MaTheLoai,TenTheLoai) values('VH',N'Văn học')
insert into TheLoai(MaTheLoai,TenTheLoai) values('KT',N'Kinh tế')

--Nhập liệu bảng Sach
insert into SACH(Masach,TenSach,NXB,Sotrang,SoLuong,Giatien,NgayNhap,vitridat,MaTheLoai)
values('Java1',N'Lập trình Java 1',N'NXB Trí Tuệ',150,10,120000,'2017-05-15',N'Khu tin học','IT')
insert into SACH(Masach,TenSach,NXB,Sotrang,SoLuong,Giatien,NgayNhap,vitridat,MaTheLoai)
values('Java11',N'Lập trình Java 1',N'NXB Khoa học xã hội',200,15,150000,'2017-05-15',N'Khu tin học','IT')
insert into SACH(Masach,TenSach,NXB,Sotrang,SoLuong,Giatien,NgayNhap,vitridat,MaTheLoai)
values('Java2',N'Lập trình Java 2',N'NXB Khoa học xã hội',250,10,170000,'2017-05-15',N'Khu tin học','IT')
GO
-- insert into SACH(Masach,TenSach,NXB,Sotrang,SoLuong,Giatien,NgayNhap,vitridat,MaTheLoai) values()
--UPDATE dbo.SACH SET [Masach] = ?, [TenSach] = ?, [NgayNhap] = ?, [NXB] = ? WHERE [Masach] = ?
--DELETE FROM dbo.SACH WHERE [Masach] = ?
SELECT*FROM dbo.THELOAI
SELECT*FROM dbo.SACH JOIN dbo.THELOAI ON THELOAI.MaTheLoai = SACH.MaTheLoai WHERE dbo.THELOAI.MaTheLoai = ?